/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
body {
  color: #000000;
  font-size: 14px;
}
.content-block {
  margin: 15px 0;
}
.statusbar-overlay {
  background: #000000;
}
.navbar {
  background: #ff8700;
  color: #ffffff;
}
.navbar a {
  color: #ffffff;
}
i.icon.icon-cart {
  width: 29px;
  height: 29px;
  background-image: url("../img/cart.svg");
}
a {
  color: #000000;
}
.back.link {
  font-size: 12px;
}
.flx {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.flx.-sa {
  justify-content: space-around;
}
.flx.-sb {
  justify-content: space-between;
}
.flx.-c {
  justify-content: center;
}
.btn-bgr {
  background: #f7f7f7 linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
}
.btn-bgr:hover {
  background: #ff8700;
  color: #ffffff;
}
._pz p {
  margin: 0;
}
#btn-back {
  opacity: 0;
}
.header {
  position: relative;
  background: url(../img/noisy.png);
  background: url(../img/cloth_shop.png) center center;
  background-size: 100% auto;
  min-height: 100px;
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100px;
  height: 54.347826086956516px;
  background: url(../img/logo.png) center center no-repeat;
  background-size: cover;
}
.hdr-actions {
  display: inline-block;
  padding: 5px 25px;
  position: absolute;
  background: #b5e61d;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px 0 0 5px;
}
.hmenu-1 {
  background: #ffffff;
}
.hmenu-1 > div {
  padding: 5px 0;
  width: 50%;
  text-align: center;
}
.hmenu-1 a {
  color: #ff8700;
}
.hdr-conts {
  background: #efeff4;
  align-items: center;
  padding: 5px 5px 5px 10px;
}
.hdr-conts i {
  vertical-align: middle;
  margin-right: 10px;
  color: #ff8700;
}
.hdr-conts a {
  margin-right: 10px;
}
.hmenu-2 {
  align-content: center;
  border-bottom: #c5c5c5 1px solid;
}
.hmenu-2 .space {
  width: 0.3%;
  background: #ffffff;
  border-top: #efeff4 1px solid;
}
.hmenu-2 a {
  width: 33.13333333333333%;
  text-align: center;
  padding: 8px 0px;
  border-top: #efeff4 1px solid;
  font-size: 92.9%;
}
#catalog-menu i {
  color: #000000;
}
